<%= content_tag component.tag_name, component.html_options do %>
  <%= link_to 'javascript:;', class: 'link-prev link-prev-years', title: component.t(:prev_years) do %>
    <%= tao_icon :arrow_left %>
  <% end %>
  <%= link_to 'javascript:;', class: 'link-next link-next-years', title: component.t(:next_years) do %>
    <%= tao_icon :arrow_right %>
  <% end %>

  <div class="year-list"></div>
<% end %>
