<%= content_tag component.tag_name, nil, component.html_options do %>
  <%= yield %>
  <%= link_to 'javascript:;', class: 'link-clear' do %>
    <span>
      <%= component.t :clear_selected %>:
      <span class="selected-text"></span>
    </span>
    <%= tao_icon :close %>
  <% end %>
<% end %>
