<%= content_tag component.tag_name, nil, component.html_options do %>
  <%= yield %>
  <div class="selected-text">
  </div>
  <div class="placeholder">
    <%= component.html_options[:placeholder].presence %>
  </div>
  <div class="icon-wrapper">
    <%= tao_icon :arrow_down %>
  </div>
  <%= link_to 'javascript:;', tabindex: '-1', class: 'link-clear', title: component.t(:clear_option) do %>
    <%= tao_icon :close %>
  <% end %>
<% end %>
